<div class="container bottom-space">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		{% if site.tags.feature.size > 10 %}
		{% assign length = 5 %}
		{% else %}
		{% assign length = site.tags.feature.size %}
		{% endif %}

		<!-- Indicators -->
		<ol class="carousel-indicators">
			{% for i in (0..length) %}{% unless forloop.last %}
			<li data-target="#carousel-example-generic" data-slide-to="{{i}}" class="{% if i==0 %} active {% endif %}"></li>
			{% endunless %}{% endfor %}
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			{% for i in (0..length) %}{% unless forloop.last %}
			{% assign mypost = site.tags.feature[i] %}
			<div class="item {% if i==0 %} active {% endif %} slider-image" style="background:url('{{ mypost.background | prepend: site.baseurl }}') no-repeat center center; background-size: 100% 100%;">
				<div class="carousel-caption slider-title">
					<p class="post-category-large text-uppercase"><a href="{{ site.baseurl }}/category.html#{{ mypost.category }}" class="white">{{ mypost.category }}</a></p>

					<h2 class="post-title text-uppercase"><a href="{{ mypost.url | prepend: site.baseurl }}" class="white">{{ mypost.title }}</a></h2>

					<div class="decorline2"></div>

					<p class="post-date-large">{{ mypost.date | date: "%B %-d, %Y" }}</p>
				</div>
			</div>
			{% endunless %}{% endfor %}
		</div>

		<!-- Controls -->
		<a class="left carousel-control white" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control white" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
